<div class="about row">

    <div class="col-md-8">

        <h2>About me</h2>

        <p>I'm a self taught python programmer. I love to create software and program that can be help to others. I have experience in web technologies like HTML, CSS, Javascript, Bootstrap, Jquery and web frameworks like Django and Flask. I am currently doing <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x">CS50</a> through <a href="https://edx.org">edx</a>. Till the date it has been a great learning experience. I am interested in Data Science and Artificial Intelligence and would love to be part of an organization where I can utilize my skills to tackle challenges and get chance to learn new everyday. Apart from these I am addicted to Music.</p>

        <h2>Contact</h2>

        <ul style="list-style: none;line-height: 2em;">
            <li><i class="fa fa-envelope fa-lg"></i><a href="mailto:{{ site.email }}" target="_top"> {{ site.email }}</a></li>
            <li><i class="fa fa-github fa-lg"></i><a href="{{ site.github_url }}"> @{{ site.name }}</a></li>
            <li><i class="fa fa-facebook fa-lg" aria-hidden="true"></i><a href="{{ site.facebook }}"> @DaRazinX</a></li>
        </ul>

        <h2>Skills</h2>
        {% if site.skill_programming_language_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Programming Languages</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_programming_language_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        
        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Development</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        

        {% if site.skill_technologies_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Technologies and Software</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_technologies_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>