<div class="about row">

    <div class="col-md-8">

        <h2>About me</h2>

        <p>I am a self taught Python Programmer. I am interested in Data science and Machine Learning. I am currently learning C programming language through edx.</p>

        <h2>Contact</h2>

        <ul style="list-style: none;line-height: 2em;">
            <li>Email：<a href="mailto:{{ site.email }}" target="_top"> {{ site.email }}</a></li>
            <li>Website:<a href="{{ site.website }}"> {{ site.website }}</a></li>
            <li><span class='octicon octicon-mark-github'></span><a href="{{ site.github_url }}"> @{{ site.name }}</a></li>
            <li><i class="fa fa-facebook fa-lg" aria-hidden="true"></i><a href="{{ site.facebook }}"> @DaRazinX</a></li>
        </ul>

        <h2>Skills</h2>
        {% if site.skill_programming_language_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Programming Languages</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_programming_language_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        
        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Development</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        

        {% if site.skill_technologies_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Technologies and Software</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_technologies_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>